<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Actions</title>
</head>
<body style="background: #DCDCDC ">
    <center><h1>Good to see you again! What would you like to do?</h1></center>

    <center><form action="http://172.20.0.2:5000/flights" method="GET">
        <button><a href="http://172.20.0.2:5000/flights" target="_blank">Availble Flights</a></button>
    </form></center>
    <p></p>
    <center><form action="http://172.20.0.2:5000/myTickets" method="GET">
            <button>My tickets</button>
    </form></center>
    <p></p>
    <center><form action="http://172.20.0.2:5000/buyTickets" method="GET">
            <button>Buy Tickets</button>
    </form></center>
    <p></p>
    <center><form action="http://172.20.0.2:5000/deleteTicket" method="GET">
            <button>Delete Tickets</button>
    </form></center>

</body>
</html>