<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy Tickets</title>
</head>
<body style="background: #DCDCDC ">

    <form action="http://172.20.0.2:5000/buyTicket" method="POST">

    <p>Id Flight <input type="number" name="id"/>
    <button><a href="http://172.20.0.2:5000/flights" target="_blank">Availble Flights</a></button>
    </p>
    <p>User Id Number <input type="text" name="realid"/> </p>
    <p>Tickets amount<input type="number" name="number"/> </p>
    <button type="submit">Reserve</button>
    </form>
<p></p><button><a href="http://172.20.0.2:5000/accountActions">Back to account page</a></button>

</body>
</html>